/* Antique Book Style for EPUB */
@page {
  margin: 0.75in;
}

body {
  font-family: "Garamond", "Georgia", "Times New Roman", serif;
  font-size: 11pt;
  line-height: 1.7;
  color: #3a3a2a;
  text-align: justify;
  max-width: 5.5in;
  margin: 0 auto;
  padding: 0;
  background-color: #faf8f3;
}

/* Title Page Styling */
.title-page {
  text-align: center;
  page-break-after: always;
  padding: 2in 0;
  background-color: #faf8f3;
}

.title-page h1 {
  font-size: 32pt;
  font-weight: normal;
  font-style: italic;
  color: #2a1f1a;
  margin-bottom: 0.5in;
  line-height: 1.3;
  text-align: center;
  font-family: "Garamond", "Georgia", serif;
}

.title-page .author {
  font-size: 16pt;
  color: #4a3a2a;
  margin-top: 0.5in;
  margin-bottom: 0.3in;
  text-align: center;
  font-style: italic;
}

.title-page .publisher {
  font-size: 10pt;
  font-style: italic;
  color: #6a5a4a;
  margin-top: 0.4in;
  text-align: center;
}

.title-page .subtitle {
  font-size: 14pt;
  font-style: italic;
  color: #4a3a2a;
  margin-top: 0.3in;
  text-align: center;
}

.title-page img {
  max-width: 3in;
  max-height: 3in;
  margin: 0.3in auto 0.4in;
  display: block;
  border: 1pt solid #d0c0b0;
}

/* Headings */
h1 {
  font-size: 22pt;
  font-weight: normal;
  font-style: italic;
  color: #2a1f1a;
  margin-top: 0.75in;
  margin-bottom: 0.4in;
  border-bottom: 1pt solid #8a7a6a;
  padding-bottom: 0.15in;
  line-height: 1.4;
  font-family: "Garamond", "Georgia", serif;
}

h2 {
  font-size: 18pt;
  font-weight: normal;
  color: #3a2a1a;
  margin-top: 0.6in;
  margin-bottom: 0.3in;
  line-height: 1.4;
  font-style: italic;
}

h3 {
  font-size: 15pt;
  font-weight: normal;
  color: #4a3a2a;
  margin-top: 0.4in;
  margin-bottom: 0.2in;
  line-height: 1.4;
}

h4, h5, h6 {
  font-size: 13pt;
  font-weight: normal;
  color: #4a3a2a;
  margin-top: 0.3in;
  margin-bottom: 0.15in;
  line-height: 1.4;
  font-style: italic;
}

/* Paragraphs */
p {
  margin-top: 0.15in;
  margin-bottom: 0.15in;
  text-indent: 0.3in;
  line-height: 1.7;
  font-size: 11pt;
  color: #3a3a2a;
  text-align: justify;
}

/* Abstract */
.abstract {
  font-style: italic;
  color: #5a4a3a;
  margin-top: 0.3in;
  margin-bottom: 0.3in;
  padding: 0.2in 0.3in;
  border: 1pt solid #c0b0a0;
  background-color: #f5f0e8;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.3in auto;
  border: 1pt solid #d0c0b0;
}

/* Lists */
ul, ol {
  margin-top: 0.15in;
  margin-bottom: 0.15in;
  padding-left: 0.4in;
}

li {
  margin-top: 0.1in;
  margin-bottom: 0.1in;
  line-height: 1.7;
}

/* Blockquotes */
blockquote {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 0.2in;
  margin-bottom: 0.2in;
  padding-left: 0.3in;
  border-left: 2pt solid #b0a090;
  font-style: italic;
  color: #5a4a3a;
  background-color: #f9f7f2;
}

/* Code blocks */
pre {
  background-color: #f0ede5;
  border: 1pt solid #d0c0b0;
  padding: 0.2in;
  margin: 0.3in 0;
  font-family: "Courier New", monospace;
  font-size: 10pt;
  overflow-x: auto;
}

code {
  font-family: "Courier New", monospace;
  font-size: 10pt;
  background-color: #f0ede5;
  padding: 0.05in 0.1in;
}

/* Tables */
table {
  width: 100%;
  margin: 0.3in 0;
  border-collapse: collapse;
}

th, td {
  padding: 0.1in;
  border: 1pt solid #c0b0a0;
  text-align: left;
}

th {
  background-color: #e8e0d8;
  font-weight: normal;
  font-style: italic;
}

