/* Scientific Paper Style for EPUB */
@page {
  margin: 1in;
}

body {
  font-family: "Times New Roman", "Times", serif;
  font-size: 11pt;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
  max-width: 6.5in;
  margin: 0 auto;
  padding: 0;
}

/* Title Page Styling */
.title-page {
  text-align: center;
  page-break-after: always;
  padding: 1.5in 0;
}

.title-page h1 {
  font-size: 18pt;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.3in;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1pt;
}

.title-page .author {
  font-size: 12pt;
  color: #000000;
  margin-top: 0.3in;
  margin-bottom: 0.2in;
  text-align: center;
}

.title-page .publisher {
  font-size: 10pt;
  color: #333333;
  margin-top: 0.2in;
  text-align: center;
}

.title-page .subtitle {
  font-size: 14pt;
  color: #000000;
  margin-top: 0.2in;
  text-align: center;
  font-weight: normal;
}

.title-page img {
  max-width: 3in;
  max-height: 3in;
  margin: 0.3in auto 0.4in;
  display: block;
}

/* Headings */
h1 {
  font-size: 14pt;
  font-weight: bold;
  color: #000000;
  margin-top: 0.5in;
  margin-bottom: 0.2in;
  border-bottom: none;
  padding-bottom: 0;
  line-height: 1.3;
  text-align: left;
}

h2 {
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
  margin-top: 0.4in;
  margin-bottom: 0.15in;
  line-height: 1.3;
  text-align: left;
}

h3 {
  font-size: 11pt;
  font-weight: bold;
  color: #000000;
  margin-top: 0.3in;
  margin-bottom: 0.1in;
  line-height: 1.3;
  text-align: left;
}

h4, h5, h6 {
  font-size: 11pt;
  font-weight: bold;
  color: #000000;
  margin-top: 0.25in;
  margin-bottom: 0.1in;
  line-height: 1.3;
  text-align: left;
}

/* Paragraphs */
p {
  margin-top: 0.1in;
  margin-bottom: 0.1in;
  text-indent: 0.25in;
  line-height: 1.5;
  font-size: 11pt;
  color: #000000;
  text-align: justify;
}

/* Abstract */
.abstract {
  font-style: normal;
  color: #000000;
  margin-top: 0.3in;
  margin-bottom: 0.3in;
  padding: 0.2in 0.3in;
  border: 1pt solid #000000;
  background-color: #ffffff;
  text-align: justify;
}

.abstract::before {
  content: "Abstract: ";
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.3in auto;
}

/* Lists */
ul, ol {
  margin-top: 0.15in;
  margin-bottom: 0.15in;
  padding-left: 0.4in;
}

li {
  margin-top: 0.05in;
  margin-bottom: 0.05in;
  line-height: 1.5;
}

/* Blockquotes */
blockquote {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 0.2in;
  margin-bottom: 0.2in;
  padding-left: 0.3in;
  border-left: 2pt solid #000000;
  font-style: normal;
  color: #000000;
}

/* Code blocks */
pre {
  background-color: #ffffff;
  border: 1pt solid #000000;
  padding: 0.15in;
  margin: 0.3in 0;
  font-family: "Courier New", monospace;
  font-size: 9pt;
  overflow-x: auto;
}

code {
  font-family: "Courier New", monospace;
  font-size: 9pt;
  background-color: #f0f0f0;
  padding: 0.02in 0.05in;
}

/* Tables */
table {
  width: 100%;
  margin: 0.3in 0;
  border-collapse: collapse;
  border: 1pt solid #000000;
}

th, td {
  padding: 0.08in;
  border: 1pt solid #000000;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

